body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 2rem;
};
.container {
  height:max(10vw, 30vw);
  display: flex;
  overflow: scroll;
  gap: .2rem;
  // & > * {
  //   flex-shrink: 0;
  // };
  
  img{
    transition: 1s;
    border-radius: 1rem;
    transform: scale(.8);
    &:hover{
    z-index: 10;
    transform: scale(1)
  }}
  h1{
  font-size:5rem;
  border-radius: 1rem;
  background-image: (url("../Imgs/mom.jpeg"));
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  transition: font-size 1s;
    transform: scale(.8);
    &:hover{
    
    z-index: 10;
    font-size: 6.5rem;
    line-height: 100vw;
    transform: scale(1);
    -webkit-background-clip: border-box;
    background-clip: initial;
  text-decoration: initial;
  }}
};

#description {
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 20vh;
  text-align: center;
  background-color: red;
  z-index: 0;
};
h3 {
  span {
    opacity: 1;
    transition: all 0.4s ease 1s;
    transform: translateY(0px);
    display: inline-block;
  };
  .fade {
    opacity: 0;
    transform: translateY(-50px);
  };
};
h1{
  font-size:5rem;
  background-image: url("./Imgs/mom.jpeg");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 1s;
    transform: scale(.8);
    &:hover{
    z-index: 10;
    transform: scale(1)
  }
}
// @font-face{
//     font-family: disketmono;
//     src: url('./fonts/Disket-Rostype/Disket-Mono-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style:normal;
//   }
// @font-face{
//     font-family: disketmono;
//     src: url('./fonts/Disket-Rostype/Disket-Mono-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style:normal;
//   }
